<!--Driver page to display quiz selected to test functionality-->
<div class="container" >
	<div class="col-sm-6 col-sm-offset-3" id = "bookInfo">

		<h2>Quiz {{ quiz.ID }} is {{ quiz.questions.length }} questions. </h2>

	</div>
	<div id="page" class="col-sm-6 col-sm-offset-3">
	</div>
</div>
<div class="container">
	<div id="nav" class="col-sm-4 col-sm-offset-4">
		<button id="start-quiz-btn" type="button" class="btn btn-default">Start Quiz</button>
	</div>
</div>
