<!DOCTYPE html>
<html>
	<head>
		<title>Book Select Screen</title>
		<meta charset="UTF-8">
		<link type="text/css" rel="stylesheet" href="/css/styles.css">
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
	</head>
	<body>
		<!--We probably dont need a proper navbar-->
		<!--<nav>
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</nav>-->

		<!--Holds the main content of the page that is provided by handlebars-->
		<div class="container">
				{{{body}}}
		</div>

		<!--Also might need a footer-->
		<!--<footer>
		</footer>-->
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script type="text/javascript"  src="/js/d3.v4.min.js"></script>

		{{#each jscript}}
		<script type="text/javascript" src ="/js/{{this}}"></script>
		{{/each}}
	</body>
</html>
